{% extends 'main/layout/base.html' %}
{% load bootstrap3 %}
{% block content %}
{% load static %}
<section class="header">
{% include 'main/layout/menu.html' %}
    <div class="row">
        {% if products|length > 0 %}
        {% for product in products %}

        <div class="col-lg-4">
            <img class="thumbnail" width="343" height="330" src="{{product.img.url}}">
            <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
		        <a class="btn btn-outline-success" href="#">View</a>
		        <h4 style="display: inline-block; float: right"><strong>Rs {{product.price}}</strong></h4>


            </div>
        </div>

        {% endfor %}
        {% else %}
        <h3><b>No products found</b></h3>
        {% endif %}
    </div>
</section>
{% endblock %}
